$primary-bold-font: Montserrat-bold;
$primary-regular-font: Montserrat-regular;
$primary-semibold-font: Montserrat-semibold;

$secondary-regular-font: Raleway-regular;
$tertiary-regular-font: Roboto;




//fonts Path
$fonts-path: "../fonts" !default;

// colors
$black: #000;
$white: #fff;
$black: rgb(0, 0, 0);
$black-op-1: rgba(0, 0, 0, 0.1);
$black-op-5: rgba(0, 0, 0, 0.5);
$black-op-8: rgba(0, 0, 0, 0.8);
$black-2:#151515;
$grey: #444;
$grey-2: #595959;
$darkgrey:#222;
$primary-color:#1fc8e9;
$border-color: rgba(255, 255, 255, 0.3);
$golden:#FBC02D;
$golden2:#F9A825;
$telegram-color:#0088cc;
$whatsapp-color:#25d366;